// Mobile size  - 0 and 767px
// Tablet size  - 768px and 1079px 	- @include breakpoint(tablet) {}
// Website size - 1080px and 1439px - @include breakpoint(website) {}
// Large size  	- 1440px and above 	- @include breakpoint(large) {}

/* Assigning box model */
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

// Assigning box model polyfill for ie7 & ie 8
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	-ms-behavior: url(/backgroundsize.min.htc);
}

/* Assigning clearfix to classes */
.clearfix, .group{
  @include clearfix;
}

/* ==========================================================================
   Gravity's custom styles
   ========================================================================== */
body{
	font-size: 80%;
	color: #2a2a2a;
	background-color: #ffffff;
	@include breakpoint(tablet) { font-size: 90%; }
	@include breakpoint(website) { font-size: 100%; }
}
h1{
	font-size: pxtoem(47, 16);
}
h2{
	font-size: pxtoem(34, 16);
	@include breakpoint(tablet) { 
		font-size: pxtoem(37, 16);
	}
}
h3{
	font-size: pxtoem(35, 16);
}
h4{
	font-size: pxtoem(24, 16);
}
h5{
	font-size: pxtoem(23, 16);
}
h6{
	font-size: pxtoem(21, 16);
}

p{
	font-size: pxtoem(18, 16);
	line-height: 20px;
}
small{
	font-size: pxtoem(12, 16);
}

blockquote{

	margin: 40px 0; 

	@include breakpoint(tablet) {
		margin: 60px 0; 
	}
	
	p{
		padding: 20px; 
		border-left: 4px solid #3399cc;
		//font-size: pxtoem(18, 16) !important;
		font-style: italic;
		color: #333;

		@include breakpoint(tablet) {
			padding: 20px 20px 20px 40px;
			border-left: 6px solid #3399cc;
		}

		cite{
			display: block;
			font-size: pxtoem(12, 16);
			color: #3399cc;
		}
	}
}

a, a:visited{}

ul{
	li{
		a{
			&:hover{

			}
		}
	}
	li.active a{
		&:hover{

		}
	}
}


a.links{
	@include fonts($title);
	font-size: pxtoem(23, 16);
	background: #f3c000 90% center url('../images/link-icons.png') no-repeat;
	border-radius: 8px;
	color: #040404;
	margin: 0 5%;
	float: right;
	display: block;
	line-height: 50px;
	border: 1px solid #323232;
	//width: 200px;
	padding: 0 40px 0 20px;

	@include breakpoint(website) { float: left; }

	&:hover{
		text-decoration: none;
		background-color: #e7b805;
	}
}

form{
	fieldset{}
	label{}
	input[type="text"],
	input[type="email"]{}
	textarea{}
	button{
		&:hover{}
	}
}

label.errorLabel{color: red; font-weight: bold; padding: 4px 0 10px 0;}

.left{text-align: left;}
.center{text-align: center;}
.right{text-align: right;}
.bring-to-front{
	position: releative; z-index:200;
}

.mobile{
	display: block;

	@include breakpoint(tablet) { 
		display: none;
	}
}
.website{
	display: none;

	@include breakpoint(tablet) { 
		display: inline;
	}
}

/* Header */
#main-nav{
	
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 200;
	background: #f8f8f8;
	background: rgba(248,248,248, 0.9);
	border-bottom: 1px solid #3399cc;

	img{
		height: 42px;
		width: auto;
	}
	
	ul{
		li{
			a{
				@include fonts($main);
				font-size: pxtoem(16, 16);
				color: #2a2a2a;
				margin-top: 15px !important;
				padding: 0 14px;
				line-height: 28px;
				border-bottom: 1px solid white;

				@include breakpoint(tablet) { 
					border-bottom: none;
				}
				
				&:hover{}

			}
			a.login{
				color: #136883;
				font-weight: 600;
				border-bottom: none;

				@include breakpoint(tablet) {  
					background-color: #136883;
					color: #ffffff;
					border-radius: 10px;
					font-weight: normal;
					margin-left: 40px;
				}
				
				&:hover{
					@include breakpoint(tablet) { 
						background-color: #0f5368;
					}
				}
			}
		}
		li.active a{
			font-weight: 600;
			background-color: transparent;
			color: $blue;
		}
		li.current-menu-item a{
			font-weight: 600;
		}
		li.menu-item-414 a{
			color: #136883;
			font-weight: 600;
			border-bottom: none;

			@include breakpoint(tablet) {  
				font-weight: normal;
				color: #ffffff;
				background-color: #428bca;
				border-color: #357ebd;
				padding: 0px 12px;
				border-radius: 4px;
				margin-left: 40px;
			}

			&:hover{
				@include breakpoint(tablet) { 
					background-color: #0f5368;
				}
			}
		}
	}
}

/*
	Bootstrap Nav Bar
*/


.navbar{
	border-radius: 0 !important;
	margin: 0 !important;
	min-height: 0 !important;
}

.navbar-brand {
	padding: 8px !important;
}
.navbar-toggle {
	margin-right: 8px !important;
	margin-top: 16px;
	@include fonts($main);
	font-weight: 600;
	font-size: pxtoem(16, 16);
	font-weight: 600;
	background-color: #2e6da4 !important;
	border: none;
	color: #ffffff;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
	background-color: #0f5368 !important;
}

.navbar-collapse {
  	background: white;
	border-bottom: 1px solid #3399cc;

	@include breakpoint(tablet) { 
		background: none !important;
		border-bottom: none !important;
	}
}

/* Main Area */

#main{
	padding: 60px 0 0 0;

	@include breakpoint(tablet) { 
		padding: 100px 0 0 0;
	}
}

article{
	padding: 70px 0;
}

#intro{


	h1{
		padding: 30px 0 10px 0;
		font-size: pxtoem(34, 16);

		@include breakpoint(tablet) { 
			padding: 40px 0 20px 0;
			line-height: 50px;

			font-size: pxtoem(46, 16);
		}
		@include breakpoint(website) {
			padding: 60px 50px 30px 50px;
			line-height: 60px;

			font-size: pxtoem(50, 16);
		}
		
	}

	img{
		width: auto;
		margin: 0 5%;
	}

	.social-links{
		padding-top: 60px;

		a img{
			width: 60%;
			max-width: 40px;
			margin-left: 20%;

			@include breakpoint(tablet) {

				max-width: 45px;
				width: 32%;
				margin-left: 34%;

			}

			@include breakpoint(website) {

				max-width: 50px;

			}
		}
	}
}

#intro.large-yellow-section{
	background-position: center -100px !important;

	@include breakpoint(tablet) { 
		background-position: center -94 !important; 
	}

	@include breakpoint(website) { 
		background-position: center -218px !important; 
	}

	@include breakpoint(large) { 
		background-position: center -100px !important; 
	}
}

/*
	Homepage
*/


/* Timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    display: none;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
    background-size: 100%;
}

.timeline-badge.gravity{
	background: center center url("https://media.licdn.com/media/p/5/005/018/0ab/33e7ccd.png") no-repeat;
	background-size: 100%;
}

.timeline-badge.rehab{
	background: center top url("https://media.licdn.com/media/p/4/000/154/0fc/26a5bf5.png") no-repeat;
	background-size: 235%;
}

.timeline-badge.huskey{
	background: center center url("http://4.bp.blogspot.com/-vgRlyN0zBMw/UX7WMiy-7GI/AAAAAAAADOE/o1FrB4hyyj4/s1600/Screen-Shot-2013-04-25-at-9.38.28-AM.jpg") no-repeat;
	background-size: 100%;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body p{
	margin: 10px 0;
	line-height: 26px;
}

.timeline-body ul{
	list-style-type: disc;
	margin-left: 18px;
	line-height: 26px;
}

.timeline-body > p,
.timeline-body > ul {
    //margin-bottom: 0;
}

    .timeline-body > p + p {
        //margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

#email-verification{
	display: none;
}

.modal-lg{
	width: 100% !important;

	img{
		height: 30px;
	}

	.col-sm-12{
		padding: 10px 20px 0 20px !important;
	} 

	.col-sm-6{
		padding: 0 15px !important
	}
}


/* Blog Page */

#blog{
	
	padding: 10px 5%;
	
	@include breakpoint(tablet) { 
		padding: 60px 10%;
	}

	@include breakpoint(website) { 
		padding: 60px 12%;
	}

	.banner{

		height: 260px; 
		background-size: cover; 
		padding-top: 10px; 
		position: relative;
		margin-bottom: 20px;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-size: cover;
		
		.title{
			width: 90%; 
			margin: 0 5%; 
			padding: 0px 20px 10px 20px; 
			background: rgba(250,250,250,0.9); 
			position: absolute; 
			bottom: 40px;

			h2{
				margin-top:20px;
				color: $blue;
			}
		}
	}

	.banner.journal{
		background-image: url('http://www.paulmatchett.co.uk/wp/wp-content/uploads/2013/07/journal.png'); 
	}
	.banner.cv{
		background-image: url('../images/cv.jpg'); 
	}
	
	h2.header{
		line-height: 60px;
		color: #428bca;

		@include breakpoint(tablet) { 
			line-height: 100px;
		}

		@include breakpoint(website) { 
			line-height: 134px;
		}
	}


	article{
		padding: 20px 0;
		border-top: 1px solid #9d9b9b;
		
		@include breakpoint(tablet) { 
			padding: 40px 0;
		}

		@include breakpoint(website) { 
			padding: 60px 0;
		}

		h2{
			@include breakpoint(tablet) { 
				margin: 0 20px;
			}
		}

		h4{
			text-decoration: underline;
			
			@include breakpoint(tablet) { 
				margin: 40px 20px 0 20px;
			}
		}

		ul{
			margin: 20px 0;
			line-height: 24px;
			list-style-type: disc;
			
			@include breakpoint(tablet) { 
				margin: 20px;
			}

			li{
				margin: 5px 0;
			}

		}

		p{
			margin: 20px 0;
			line-height: 24px;
			
			@include breakpoint(tablet) { 
				margin: 20px;
			}

			@include breakpoint(website) { 
				line-height: 30px;
			}
		}

		p.by{
			font-weight: bold;
		}

		img{
			width: 100%;
			height: auto;
			margin-bottom: 20px;

			@include breakpoint(tablet) { 
				width: 92%;
				height: auto;
				margin-left: 4%;
			}
		}

		a{
			@include fonts($title);
			color: #2a2a2a;
			font-size: inherit;

			&:hover{
				text-decoration: none;
			}
		}

		a.more{
			color: #428bca;	
		}

	}
}

/* Single Post Page */

#blog-post{
	
	padding: 10px 0 0 0;
	
	@include breakpoint(tablet) { 
		padding: 20px 0 0 0;
	}

	@include breakpoint(website) { 
		padding: 20px 0 0 0;
	}

	.blog-post-header{
		background-position: left top;
		background-repeat: no-repeat; 
		height: 500px; 
		background-size: auto 500px;
		background-size: cover; 
		padding-top: 10px; 
		position: relative;
		margin-top: 60px;

		@include breakpoint(tablet) { 
			margin-top: 0px;
		}

		a.btn{
			position: relative;
			top: -60px;
		}

		.title{
			width: 90%; 
			margin: 0 5%; 
			padding: 0px 20px 10px 20px; 
			background-color: #ffffff;
			background-color: rgba(250,250,250,0.9); 
			position: absolute; 
			bottom: 40px;

			h2{
				margin: 20px 0 0 0 !important;
				padding-bottom: 0;
			}

			h5{
				padding-bottom: 20px;
				margin: 0;
			}

			p{
				margin: 0 0 20px 0 !important;
			}
		}
	}

	h5, h2, hr, .blog-post-header{

		@include breakpoint(tablet) { 
			margin: 0 2%;
		}

		@include breakpoint(website) { 
			margin: 0 6%;
		}

		@include breakpoint(large) { 
			margin: 0 12%;
		}
	}
	hr {
  		margin-top: 25px;
  		margin-bottom: 25px;
	}

	h2.header{
		color: #428bca;
		padding: 20px 0 12px 0;
	}

	p, ul{

		margin: 20px 0;
		line-height: 24px;
		
		@include breakpoint(tablet) { 
			margin: 20px 2%;
		}

		@include breakpoint(website) { 
			margin: 20px 6%;
			line-height: 30px;
		}

		@include breakpoint(large) { 
			margin: 20px 12%;
		}

		a{
			font-family: "Demi", helvetica, arial, serif;
			font-weight: normal;
			color: #2a2a2a;
			font-size: inherit;
		}
	}

	img{

		margin: 10px 0;
		width: 100%;
		height: auto;

		@include breakpoint(tablet) { 
			margin: 20px 10% 0 10%;
			width: 80%;
			height: auto;
		}

		@include breakpoint(website) { 
			margin: 20px 12% 0 12%;
			width: 76%;
			height: auto;
		}

		@include breakpoint(large) { 
			margin: 20px 16% 0 16%;
			width: 68%;
			height: auto;
		}

		
	}

	.blog-title{
		padding: 20px 5% 20px 5%;
		
		@include breakpoint(tablet) {
			padding: 40px 0;
		}
	}

	.blog-content{
		padding: 10px 5% 0 5%;

		@include breakpoint(tablet) {
			padding: 40px 0 70px 0;
		}

		h2{
			margin-top: 60px;
		}

		h5{
			padding: 4px 0;
		}

		img{
			-webkit-transition: 2s;
			transition: 2s;
			width: 100% !important;
			height: auto !important;
			padding: 4px;
			border: 2px solid #cccccc;
			margin: 20px 0;
			border-radius: 4px;
		}

		p, ul li{
			font-size: pxtoem(22, 16);
			line-height: 28px;
			font-family: helvetica neue;
			font-weight: 200;

			a{
				font-size: inherit;
				border-bottom: 1px solid black;
				font-style: italic;
			}

			em{
				font-style:italic;
			}

			@include breakpoint(tablet) {
				font-size: pxtoem(24, 16);
				line-height: 35px;
			}
		}

		ul{
			list-style-type: none;

			li{
				padding-left: 20px;
  				position: relative;

				&:before{
					content: "☻";
					color: $blue;
					position: absolute;
					left: 0px;
					font-size: 12px;
				}
			}
		}

	}

}

/* tags */

#post-tags span.label{
	margin: 2px;
	float: left;
	line-height: 22px;
	padding-top: 0;
	padding-bottom: 0;
	display: block;

	@include breakpoint(tablet) {
		line-height: 26px;
	}
}

/* code */

pre.prettyprint{
	margin: 40px 6% 40px 2% !important;

	@include breakpoint(website) {
		margin: 40px 8% 40px 6% !important;
	}

	@include breakpoint(large) { 
		margin: 40px 12% !important;
	}
}

#social{
	
	padding: 0;

	.post-nav{ 
		
		padding-top: 74px;

		@include breakpoint(tablet) { 
			padding: 74px 0 0 10%;
		}

		@include breakpoint(website) { 
			padding: 74px 0 0 12%;
		}

		@include breakpoint(large) { 
			padding: 74px 0 0 20%;
		}

		ul{ 
			border-top: 1px solid #2e2e2c;
			display: block;
			padding: 14px 0 30px 0;
			margin: 0;


			li{
				
				float: left;
				width: 50%;
				font-size: 1em;

			 	a{
					color: #454441;
					padding-left: 20px;
					background: left center url("../images/prev-case-study.png") no-repeat;
				}
			}
		}
	}

	.social-share{
		display: block;
		padding: 40px 5% 60px 5%;

		@include breakpoint(tablet) {
			padding: 40px 0 60px 0;
		}

		h6{
			border-bottom: 1px solid #2e2e2c;
			display: block;
			padding-bottom: 10px;
		}

		ul{
			padding-bottom: 30px;
			margin: 0;

			li{
				float: left;
				width: 33%;
				text-align: center;
				
				@include breakpoint(tablet) {
					text-align: left;
				}

				a img{
					width: auto;
				}
			}
		}
	}


}


/* Footer */

#footer{
    padding: 10px 0 10px 0;
    text-align: left;
    height: auto;
    background-color: #000003;
    border-bottom: 4px solid #ffffff;

	a.btn{

		display: block;
		margin: 20px 4%;
		width: 92%;

		@include breakpoint(tablet) { 
			margin: 10px 0; 
			font-size: pxtoem(16, 16);
		}

		@include breakpoint(website) { 
			font-size: pxtoem(23, 16);
		}

		@include breakpoint(large) {
			width: 80%;
		}
	}

	small{
		display: block;
		color: #ffffff;
		text-align: center;
		width: 280px;
  		margin: 28px auto 0 auto;

		@include breakpoint(tablet) { 
			width: auto;
			margin: 28px 0 0 20px;
			text-align: left;
		}
	}

}




/* ==========================================================================
   Ipad 1/2/3/4 & Ipad Mini
   ========================================================================== */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {}


/* ==========================================================================
   Internet Explorer Tidies
   ========================================================================== */

/* IE Fixes for ie8 */
.lt-ie9 .price-option{width: 33%;}
.lt-ie9 #how-your-hive-structured {background: center bottom url("../images/how-does-hive-work-background.png") no-repeat; }

/* IE Fixes for ie7 */